#text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  font-size: 32px;
  font-weight: bold;
}
#inputwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
#inputwrapper > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin:10px 0px;
}
.inputlabel{
  margin: auto 0px;
}
.inputbar {
  padding: 5px;
  margin: 0px 5px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-size: 16px;
}

